@use 'mixin.scss' as mixin;
@use 'variables.scss' as variables;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  @include mixin.theme(variables.$white, variables.$black);
}

html {
  font-family: "Roobert", "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  * {
    @include mixin.theme(variables.$gray-90, variables.$white);
  }
}