$white: #FFF;
$black: #000;
$gray-40: #D2D4D7;
$gray-50: #B3B5B7;
$gray-60: #939597;
$gray-70: #737577;
$gray-80: #535557;
$gray-90: #131517;
$gray-100: #212325;
$gray-110: #313234;
$pink: #CC62D5;
$pink-dark: #BB2DC7;
$yellow: #FF9641;
$yellow-dark: #EC660D11;
$blue: #325FFA;
$orange: #EC660D;
$green: #07A460;
$red: #E83B47;
$red-light: #FF5965;
$purple: #682FFF;
$mustard: #D19D20;
$gradient-color: radial-gradient(86% 86% at 6% 9%, #8800FF 0%, #A732D6 51%, #EF79FF 100%);